:root{
    --cor--principal: #ee5720;
    --cor--secundaria: #ff8c42; 
    --cor--fundo: #f0efef;

    --cor--header: var(--cor--principal);
    --cor--nav: var(--cor--secundaria);

    --cor--texto: #e4501a;
    --tam--texto1: 1.5rem;
    --tam--texto2: 2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, 'Segoe UI', sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}


.topo{
    background-color: var(--cor--principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 12px 20px;
}

.topo-log{
    background-color: var(--cor--fundo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor--tex);
    padding: 12px 20px;
}

.menu-logo{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    gap: 10px;
}

.menu-logo img{
    height: 50px;
    width: 50px;  
}

.topo .sair{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.topo-log .ajuda{
    color: var(--cor--texto);
    text-decoration: none;
    font-size: 1.2rem;
}
/* HOVER*/
.topo .sair:hover,
.topo-log .ajuda:hover{
    text-decoration: underline;
}

.menu-opcoes{
    background-color: var(--cor--nav);
    width: 100%;
}

.menu-opcoes ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-opcoes li{
    text-align: center;
}

.menu-opcoes a{
    display: block;
    padding: 10px 8px;
    text-decoration: none;
    color: white;
    font-size: 1.0rem;
}

.menu-opcoes a:hover{
    background-color: #ffb347;
}

.opcoes-login {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.opcoes-login a {
    color: #1677c8;
    text-decoration: none;
    font-size: 14px;
}

.login-social{
    display: flex;
    gap: 20px;
}

.login-social button{
    flex: 1;
    height: 45px;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.login-social img{
    width: 20px;
    height: 20px;    
}

.novo-usuario {
    text-align: center;
    color: #aaa;
    margin-top: 25px;
}

.novo-usuario a {
    color: #ff572f;
    text-decoration: none;
}

.cadastro-form{
    background-color: rgb(218, 217, 217);
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    background-color: var(--cor--principal);
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redef-senha-form{
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    background-color: white;
    width: 400px;
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

.formulario h2{
    color: var(--cor--texto);
    font-size: 1.5rem;
    font-weight: normal;
}

.formulario form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formulario input{
    height: 45px;
    width: 300px;
    padding: 5px 10px;
    font-size: 1rem;
}

.btn-entrar, 
.btn-cadastrar {
    width: 100%;
    height: 45px;
    margin-top: 10px;

    border: none;
    background-color: #ff572f;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}
/* ============================ */
/* Visualização dos Produtos */

.produtocamisa{
    width: 180px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgb(185, 184, 184);
}

.produtocamisa img{
    height: 100%;
    width: 150px;
    object-fit: contain;
}

.produtocamisa h3{
    font-weight: normal;
    font-size: 14px;
    margin: 8px 0;
}

.produtocamisa .preco{
    color: rgb(65, 65, 65);
    font-size: 14px;
}

.produtocamisa .estoque{
    color: var(--cor--texto);
    font-size: 11px;
}

.lista-produtos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 900px;
    margin: auto;
}

/* ============================ */



footer{
    background-color: var(--cor--fundo);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.footer-conteudo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding: 30px;
    font-size: 0.9rem;
}

.footer-conteudo section{
    display: flex;
    flex-direction: column;
}

.footer-conteudo h3 {
    font-weight: bold;
    font-size: 1.0rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-conteudo ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-conteudo li{
    margin-bottom: 10px;
}

.footer-conteudo a{
    text-decoration: none;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.footer-conteudo a:hover{
    color: rgb(51, 26, 26);
}

.app img{
    width: auto;
    height: 100px;
    align-self: center;
}


.footer-copyright {
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 20px;
}

.pagamentos ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.pagamentos li{
    margin-bottom: 0;
}

.pagamentos img {
    width: 50px;
    height: 25px;
}

.lojas-virtuais{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.lojas-virtuais li{
    
}

.lojas-virtuais img{
    height: 30px;
    width: 30px;
}