:root{
    --cor--principal: #ee5720;
    --cor--secundaria: #ff8c42; 
    --cor--fundo: #e0e0e0;

    --cor--header: var(--cor--principal);
    --cor--nav: var(--cor--secundaria);

    --cor--texto: #e4501a;
    --tam--texto1: 1.5rem;
    --tam--texto2: 2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, 'Segoe UI', sans-serif;
}

.topo{
    background-color: var(--cor--principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 12px 20px;
}

.menu-logo{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    gap: 10px;
}

.menu-logo img{
    height: 50px;
    width: 50px;  
}

.topo .sair{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
/* HOVER*/
.topo .sair:hover{
    text-decoration: underline;
}

.menu-opcoes{
    background-color: var(--cor--nav);
    width: 100%;
}

.menu-opcoes ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-opcoes li{
    text-align: center;
}

.menu-opcoes a{
    display: block;
    padding: 10px 8px;
    text-decoration: none;
    color: white;
    font-size: 1.0rem;
}

.menu-opcoes a:hover{
    background-color: #ffb347;
}

.cadastro-form{
    background-color: var(--cor--fundo);
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    background-color: white;
    width: 400px;
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario h2{
    color: var(--cor--texto);
    font-size: 1.5rem;
    font-weight: normal;
}

.formulario form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formulario input{
    height: 50px;
    width: 300px;
    padding: 5px 10px;
    font-size: 1rem;
}

.formulario button{
    background-color: var(--cor--principal);
    width: 300px;
    height: 40px;
    color: white;
    text-transform: uppercase;
    border: none;
}

footer{
    background-color: #b8b1af;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    bottom: 0;
    width: 100%;
}

.footer-conteudo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding: 30px;
    font-size: 0.9rem;
}

.footer-conteudo section{
    display: flex;
    flex-direction: column;
}

.footer-conteudo h3 {
    font-weight: bold;
    font-size: 1.0rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-conteudo ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-conteudo li{
    margin-bottom: 10px;
}

.footer-conteudo a{
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
}

.footer-conteudo a:hover{
    color: rgb(51, 26, 26);
}

.app img{
    width: auto;
    height: 100px;
    align-self: center;
}


.footer-copyright {
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 20px;
}

.pagamentos ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.pagamentos li{
    margin-bottom: 0;
}

.pagamentos img {
    width: 50px;
    height: 25px;
}