<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
    <script type="text/javascript" src="script.js"></script>
    <title>Xhopee</title>
</head>

<body>

    <header class="topo">
        <div class="menu-logo">
            <img src="../assets/img/logo.png" alt="logo xhoppi">
            <span>Xhoppi</span>
        </div>
        <a href="#" class="sair">Sair</a>
    </header>
    <nav class="menu-opcoes">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="#">Cadastro Cliente</a></li>
            <li><a href="#">Cadastro Funcionario</a></li>
            <li><a href="#">Cadastro Produto</a></li>
            <li><a href="#">Ver Clientes</a></li>
            <li><a href="#">Ver Funcionarios</a></li>
            <li><a href="#">Ver Produtos</a></li>
        </ul>
    </nav>

    <div class="produto-container">
        <div class="produto-imagem">
            <div class="produto-miniatura">
                <img src="../assets/img/produto1.png" onclick="selecionarImgProduto(this)">
                <img src="../assets/img/produto2.png" onclick="selecionarImgProduto(this)">
                <img src="../assets/img/produto3.png" onclick="selecionarImgProduto(this)">
                <img src="../assets/img/produto4.png" onclick="selecionarImgProduto(this)">
                <img src="../assets/img/produto5.png" onclick="selecionarImgProduto(this)">
            </div>
            <div class="produto-principal">
                <img id="imgPrincipal" src="../assets/img/produto1.png">
            </div>
        </div>

        <div class="produto-detalhes">
            <h1>Camisa Desenvolvedor Front-End CSS</h1>
            <h2 id="precoProduto">R$56,90</h2>
            <p id="qtdDisponivel">171 peças dísponíveis</p>
            <p>Modelos:</p>
            <button class="botao" id="btnModeloPreto">Preto</button>
            <button class="botao" id="btnModeloAzul">Azul</button>
            <button class="botao" id="btnModeloVerde">Verde</button>
            <button class="botao" id="btnModeloCinza">Cinza</button>
            <button class="botao" id="btnModeloRosa">Rosa</button>

            <p>Tamanhos:</p>
            <button class="botao" id="btnTamanhoP">P</button>
            <button class="botao" id="btnTamanhoM">M</button>
            <button class="botao" id="btnTamanhoG">G</button>
            <button class="botao" id="btnTamanhoGG">GG</button>
            <p id="tamanhoSelecionado">Tamanho Selecionado: P</p>
            <button id="botaoComprar">Comprar Agora</button>
        </div>
    </div>
</body>

</html>